@use "../../styles/index.scss" as *;

.list-section {
    min-height: 100vh;
    flex-direction: column;
    gap: 3rem;

    .header-container {
        width: 90%;

        h2 {
            font-size: 3rem;
        }
    }

    .list-body {
        width: 90%;
        @include flex-row;
        justify-content: space-around;

        .lists {
            width: 20%;

            .wrapper {
                @include flex-col;
                gap: 25px;

                .active {
                    background-color: $primary-100;
                    height: 70px;
                    padding: 0 10px;
                    @include flex-row;
                    gap: 15px;
                    align-items: center;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: 0.3s ease;

                    .img-container {
                        background-color: $bg-200;
                        width: 50px;
                        height: 50px;
                        @include center-child-row;
                        border-radius: 50%;
                        transition: 0.3s ease;

                        img {
                            width: 30px;
                        }
                    }

                    p {
                        font-size: 1.1rem;
                        color: $bg-200;
                        font-weight: 500;
                    }
                }

                .food {
                    height: 60px;
                    padding: 0 10px;
                    @include flex-row;
                    gap: 15px;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s ease;

                    .img-container {
                        width: 40px;
                        height: 40px;
                        @include center-child-row;
                        border-radius: 50%;
                        transition: 0.3s ease;

                        img {
                            width: 30px;
                        }
                    }

                    p {
                        font-size: 1.1rem;
                        color: $text-100;
                        font-weight: 500;
                    }
                }
            }
        }

        .food-section {
            overflow: hidden;
            width: 72%;
            position: relative;

            .button-wrapper {
                width: 100px;
                position: absolute;
                right: 40px;
                top: 15px;
                @include space-between;

                .previous-button,
                .next-button {
                    width: 40px;
                    height: 40px;
                    font-size: 1.3rem;
                    background-color: $bg-300;
                    @include center-child-row;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.3s ease;
                }

                .previous-button:hover,
                .next-button:hover {
                    background-color: $primary-100;
                    color: $bg-200;
                }
            }

            .active {
                @include space-evenly;
                align-items: center;
            }

            .hidden {
                display: none;
            }

            .food-display {
                width: 100%;
                height: 100%;
                transition: 0.8s ease;

                .food {
                    width: 45%;

                    .wrapper:hover .button {
                        text-decoration: underline;
                    }

                    .wrapper {
                        width: 100%;
                        height: 400px;
                        position: relative;
                        border-radius: 35px;
                        overflow: hidden;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .details {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding: 30px;
                            width: 100%;

                            color: $bg-200;
                            background: linear-gradient(
                                0deg,
                                rgba(29, 29, 29, 0.45) 0%,
                                rgba(41, 41, 41, 0.45) 80%,
                                rgba(255, 255, 255, 0) 100%
                            );

                            .name {
                                font-size: 1.3rem;
                                font-weight: 600;
                            }

                            .price {
                                font-size: 1.5rem;
                                font-weight: 500;
                                margin-bottom: 5px;
                            }

                            .button {
                                width: fit-content;
                                font-size: 1rem;
                                transition: 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}
