@use "../../styles//index.scss" as *;

.upper-section {
    @include flex-col;
    margin-top: 30px;
    gap: 5px;

    h3 {
        font-size: 0.8rem;
        color: $text-200;
    }

    h3:nth-child(3) {
        margin-top: 20px;
    }

    input {
        padding: 10px 5px;
        font-size: 1rem;
        background-color: $bg-200;
        border: none;
        border-bottom: $accent-200 solid 1px;
    }

    input:focus {
        border-bottom: $primary-100 solid 2px;
        outline: none;
    }

    .button-wrapper {
        width: 100%;
        @include center-child-row;
        margin: 20px 0;

        button {
            width: 50%;
            font-size: 1rem;
            font-weight: 600;
            color: $bg-200;
            background-color: $primary-100;
            border-radius: 5px;
            border: none;
            padding: 15px;
            cursor: pointer;
        }
    }
}
